body{
	background: transparent;
	position: relative;
	margin-top: -20px;

}


.device{
	position: relative;
	overflow: hidden;
	display: block;
}

.device img{
	position: absolute;
	display: block;
	right:-10px;
	top:60px;
	z-index: 10000;
}


.navbar-brand .logo img{
	width: 40px;
	height: 30px;
}

.navbar-brand .logo span{
	vertical-align: middle;
	color:#555;
	font-size: 18px;
	font-weight:bold;
}

.navbar-inverse .navbar-nav > li > a{
	text-transform: uppercase;
	font-weight: 700;
	color: #555;
}

#particles-js {
  position: absolute;
  width: 100%;
  height:100vh;
  background-color: #000;
  background-image: url("https://images.unsplash.com/photo-1500531279542-fc8490c8ea4d?dpr=1&auto=compress,format&fit=crop&w=2851&h=&q=80&cs=tinysrgb&crop=");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50% 100%;

}

.bg{
	position: absolute;
	width: 100%;
	height: 100vh;
	background:rgba(0,0,0,0.3);
}


.section-1{
display: block;
padding-bottom: 70px;
background:transparent;
position: relative;
}

.section-1 .heading{
	color:#fff;
	text-transform:uppercase;
	font-size: 25px;
	display: inline-block;
	font-weight: bold;
	margin-top: 10px;
}

.section-1 .heading span{
color:#ccc;
font-weight: 400;
text-transform: capitalize;
}

.sub-heading{
margin-top: 30px;
font-size:70px;
color: #fff;
line-height:120px;
font-weight: bold;
padding:50px 0 0px;

}

.sub-heading span{
font-size: 30px;
display: block;
text-transform: capitalize;
}	
.section-2{
background: #f8f8f8;
display: block;
padding:50px 0;
border-top: 1px solid #ececec;
}

.section-2 a:hover, .section-2 a:focus{
text-decoration: none;
}

.section-2 .heading{
	font-size: 50px;
	color:#000;
	font-weight: bold;
	text-align: center;
	padding:50px 0;
}

.section-2  .panel {
  margin-bottom: 30px;
  border-radius:0;
border:0;
}

.section-2 .panel:hover{
	box-shadow: 0rem 1rem 9rem rgba(0,0,0,.2);
}

.equal {  
    display: -webkit-flex;
    display: flex;
}
.brand-work img{
	display: block;
	height: 30px;
	width: auto;
	margin:20px auto 30px;

}


p.lead{
	color: #000;
	margin-top: 30px;
	font-size: 18px;
}

.section-2 .panel-footer{
background: #2cbf55;
color: #fff;
font-size: 16px;
font-weight: 400;
}
/*.panel-1{
background: #812982;
}

.panel-2{
background: #00C3C1;	
}

.panel-3{
background: #00B9F2;
}

.panel-4{
background: #FF0C00;
}

.panel-5{
background: #000;
}

*/


.section-3{
background: #f1f1f1;
padding:50px 0;
}


.section-3 .heading{
	margin: 15px;
	font-size: 20px;
	color:#000;
	font-weight: bold;
	
}

.section-3 .sub-heading{
	margin: 15px;
	font-size: 50px;
	color:#000;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-bottom: 0px;
	padding:30px 0;
	}

.section-3 a{
display: block;
}	

.section-3  a:hover, .section-3  a:focus{
text-decoration: none;
}

.section-3 .panel{
		overflow: hidden;
		border:0;
		border-radius: 0;
		margin-bottom: 30px;
		display: block;
}

.section-3 .panel img{
	width:100%;
	height:auto;
	display: block;

	}

.section-3 .panel p.lead{
	margin:15px;
	font-size: 16px;
	  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.section-3 .read-more{
display: block;
padding-bottom: 10px;
}
.section-3 .read-more a{
	font-size: 16px;
	color:#000;
	text-transform: uppercase;
	border-bottom:2px solid #000;
	line-height: 20px;
	margin:0 5px 10px;
	display: inline-block;
}

.section-3 .panel-heading{
	background: #fff;
}

.section-3 .panel-heading img{
height: 50px;
width: auto;
display:block;
padding:5px 0;
}



.org-section{
	display: block;
	padding:10px 0 30px;
	background-color: #fff;
	border-bottom:1px solid #efefef;
}


.org-section .heading{
	color:#ccc;
	text-transform:uppercase;
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	margin:20px 0;
	font-weight: 300;
}

.org-section .img{
display: inline-block;

}

.org-section .img img{
	height: 25px;
	width: auto;
	margin-right:40px;
	vertical-align: middle;
}

.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
  float: none;
}  

.section-4{
	background:#fff;
	display: block;
	padding:150px 0;
}

.section-4 .heading{
	margin: 15px;
	font-size: 50px;
	color:#000;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-bottom: 0px;

}


.icon-img{
	display: block;
}

.icon-img img{
	width: 40px;
	height: auto;

}

.section-4 .panel{
	border-radius: 0;
	box-shadow: none;
	border:0;
	margin-top: 50px;

}

.section-4 .panel-heading{
	font-size: 16px;
	background: #fff;
	border:0;
	text-transform: uppercase;
}

.section-4 .panel-heading span{
	font-size: 50px;
	vertical-align: middle;
	margin-bottom: 20px;
	display: block;
}

.section-4 .panel .panel-body{
	padding:0 15px;
}


.section-4 .panel p.lead{
	color:#999;
	font-size: 14px;
}


.modal-content{
	border-radius: 0;
	border:0;
	box-shadow: 0 10px 21px rgba(0, 0, 0, .1);
	-webkit-box-shadow:0 10px 21px rgba(0, 0, 0, .1);
}


.modal{
	background: rgba(255,255,255,0.8);
}

.modal-title{
	padding:5px 0;
display: block;
}

.modal-title img{
height: 30px;
width: auto;
margin:20px 10px 10px;

}

.modal-header{
	border:0;
}

button.close{
	position: absolute;
	right:150px;
	top:50px;
	color: #999;
	z-index: 1050;
	font-size: 50px;
	opacity:1;
}


button.close:hover, button.close:focus{
	opacity: 1;
}

.position-title{
	color:#555;
	font-weight: 400;
	font-size: 18px;
	margin:0 20px;
}

.position-title span{
	display: block;
	color:#a1a1a1;


}

.modal-content{
	color:#555;
	margin-top: 100px;
}

.modal-body{
	color:#555;
}

.modal-content ul.job-list{
	color:#555;

}

.modal-content ul.job-list li{
font-size: 14px;
margin:15px;
color: #555;
font-weight: 400;
}

.modal-footer{
border:0;
}


.btn-primary{
	    color: #fff;
    background: #2cbf55;
    font-weight: 300;
    border:0;
    font-size: 20px;
    border-radius:3px;
}


.btn-primary:hover, 
.btn-primary:focus{
background: #2cbf55;
opacity: .85;
}

.header-img{
	display: block;		
}

.header-img img{
	width: 100%;
	height: auto;
}

.footer{
	background: #fff;
	display: block;
	padding:10px;
	width: 100%;
}
.footer-bottom {
    background-color: #fff;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #555;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #555;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #555;
}

.design a span{
	font-size: 20px;
	margin:0 10px;
}

